.container 
    margin: 20px auto 0px auto
    max-width: 1200px
    padding: 0 1rem

    .cell img 
        display: block
        margin: 0px auto
    .cell
        .card
            .card-content
                background-color: #262626
                color: #fff
                font-size: 0.8em
                a
                    color: #00d1b2

@media screen and (min-width: 600px) 
    .grid 
        display: flex
        flex-wrap: wrap
        flex-direction: row
        .cell 
            width: 50%
@media screen and (min-width: 800px)
    .grid 
        .cell 
            width: calc(100% / 3)